@model Proiect_open_discusion.Models.Comment

<h2>New Comment</h2>

<br />

<form method="post" action="/Comments/New/">
    <input type="hidden" name="SubjectId" value="@ViewBag.Subject.Id" />

    <label>Content</label>
    <br />
    <textarea class="form-control" name="Text"></textarea>
    @Html.ValidationMessage("Text", null, new { @class = "text-danger"})
    <br />

    <button class="btn btn-success" type="submit">Add</button>

</form>